{% extends 'main/inicio.html' %}

 
{% block contenido %}
<p>
    Un automóvil o coche, es un vehículo mecánico de propulsión propia destinado al transporte de personas, generalmente con cuatro ruedas y capacidad entre una y nueve plazas. Las ruedas "delanteras" pueden moverse hacia los lados para permitir giros y tomar las curvas.

    Se mueve gracias a un motor a explosión de combustión interna alimentado por gasolina, gas licuado del petróleo, gasóleo o aire comprimido.
    
</p>



{% endblock contenido %}  